:root {
  --accent-font-color: rgb(203, 0, 0);
}


/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


/* ----------------------- */

@media print {
  .more {
    page-break-after: always;
  }

  /* @page {
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    padding-top: 72px;
    padding-bottom: 72px;
  } */

  a[href]:after {
    content: none !important;
  }

  /* body {
    margin: 2em;
  } */
}

/* ----- Styles ----------- */

html,
body {
  font-family: Arial, sans-serif;
  color: #404041;
}

.table-bottom-border {
  border-bottom: 3px solid black;
}

.table-bottom-border_thin {
  border-bottom: 1px solid black;
}

.title-top-border {
  border-top: 3px solid black;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-32 {
  margin-top: 32px;
}

.dark-font {
  color: #221F20;
}

table {
  border-collapse: collapse;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.border-bottom-1 {
  border-bottom: 1px solid black;
}

.border-bottom-3 {
  border-bottom: 3px solid black;
}

.red {
  color: var(--accent-font-color);
}

/* ---- Gauss info ---- */

.main-container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 40px;
}

.gauss-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.gauss-info__right {
  margin-top: 60px;
}

.gauss-info__right-title {
  padding-left: 36px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.gauss-info__right-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 1.1;
}

.gauss-info__right-icon {
  display: block;
  width: 20px;
}

.gauss-info__right-item_center {
  align-self: center;
}

.gauss-info__right-icon>svg {
  fill: orange;
}

.gauss-info__right-description {
  padding-left: 16px;
}

.gauss-info__left-address-1 {
  max-width: 220px;
  font-size: 16px;
  padding-top: 5px;
  margin-bottom: 80px;
  color: gray;
}

.gauss-info__left-address-2 {
  max-width: 180px;
  font-size: 12px;
  line-height: 1.3;
  margin-left: 8px;
}

.gauss-info__left-gauss-icon {
  max-width: 100px;
}

/* ------- Statements header ------- */

.gauss-statements-header {
  display: flex;
  justify-content: space-between;
}

.gauss-statements-header__title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: black;
}

.gauss-statements-header__date {
  margin-bottom: 10px;
}

.gauss-statements-header__name {
  font-weight: 700;
}

.gauss-statements-header__account-number {
  align-self: center;
}

/* ---- Account summary ------- */

.account-summary {
  margin-top: 20px;
  margin-bottom: 10px;
}

.account-summary__title {
  font-size: 22px;
  font-weight: 700;
  color: var(--accent-font-color);
}

.account-summary__list {
  max-width: 450px;
  list-style-type: none;
  font-size: 14px;
}

.account-summary__list-item {
  display: flex;
  justify-content: space-between;
  margin: 7px 0 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.account-summary__list-item_accented {
  color: #154c87;
  font-weight: 700;
  border: none;
}



.checking-summary__info-tr_bottom-20 td:first-child {
  padding-bottom: 24px;
}

/* ----- page top sign ----- */

.page-top-sign {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 50px;
  font-weight: 600;
}

/* ----- deposits info ----- */

.deposits-info {
  padding-bottom: 20px;
}

.deposits-info__header {
  font-size: 22px;
  font-weight: 700;
  color: var(--accent-font-color);
}

.deposits-info__table {
  width: 100%;
  margin-top: 5px;
}

.deposits-info__table-row {
  font-size: 14px;
  vertical-align: top;
  padding: 5px 0;
}

.deposits-info__table-row-head {
  font-size: 12px;
  vertical-align: top;
  padding: 5px 0;
}

.deposits-info__table-row td {
  padding: 7px 0;
}

.deposits-info__table-row td:first-child {
  padding: 10px 20px 10px 0;
}

.deposits-info__table-row td:last-child {
  padding: 10px 0 10px 20px;
}

.deposits-info__table-head th {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 5px;
}

.deposits-info__table-total {
  color: #285FA5;
  font-size: 16px;
  font-weight: 700;
}

/* ---- Deposits content ----- */

.deposits-content {
  margin-left: 10px;
  margin-right: 50px;
}

.deposits-content__header {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.deposits-content__title {
  border: 2px solid black;
  border-bottom: none;
  padding: 5px;
  padding-bottom: 3px;
  width: 350px;
  font-size: 18px;
}

.deposits-content__table {
  width: 100%;
}

.deposits-content__table-head th {
  font-size: 10px;
  font-weight: 400;
}

.deposits-content__table-row td {
  padding: 5px 0;
  font-size: 14px;
}

.deposits-content__total {
  border-top: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: #285FA5;
  font-size: 18px;
}

/* ------ Service fees -----  */

.services-fees {
  margin-top: 20px
}

.services-fees__title {
  font-size: 28px;
  font-weight: normal;
  color: var(--accent-font-color);
}

.services-fees__table {
  width: 100%;
}

.services-fees__table-row {
  font-size: 14px;
  vertical-align: top;
}

.services-fees__table-row td {
  padding: 10px 0;
}

.services-fees__table-row td:first-child {
  padding: 10px 20px 10px 0;
}

.services-fees__table-row td:last-child {
  padding: 10px 0 10px 20px;
}

.services-fees__table-head th {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 5px;
}

.services-fees__total {
  color: #285FA5;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 8px;
}

.services-fees__note {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

/* ---- IMPORTANT INFORMATION ---- */

.important-info-header {
  height: 70px;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--accent-font-color);
}

.important-info-header__title {
  font-size: 24px;
  font-weight: 700;
}

.important-info-header__sub-title {
  font-size: 22px;
}

.important-info {
  font-size: 14px;
}

.important-info__p {
  margin: 15px 0;
}

.important-info__list {
  padding-left: 20px;
}
